---
layout: page
title: Blog
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest on what we're doing</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% for post in site.posts %}
<div class="post-area">
  {% if post.image_thumb %}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img src="{{ site.url }}{{ site.baseurl }}/img/{{ post.image_thumb }}" class="alignleft" width="150" height="150" alt="{{ page.title escape_once }}"></a>{% endif %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}
