<style>
    #logos img { padding: 20px 0 20px 0; height: 30vh; }
</style>

<aside class="callout">
  <div class="text-vertical-center overlay-callout">
	<h1>Our Sponsors</h1>
		<div id="logos">
			<div class="row flex-row">
				<div class="col-md-3">
					<a href="https://www.xsens.com/" target="_blank"><img class="img-responsive img-btn" src="{{ site.baseurl }}/img/clients/xsens.png" /></a>
				</div>
				<div class="col-md-3">
					<a href="https://www.santander.co.uk/" target="_blank"><img class="img-responsive img-btn" src="{{ site.baseurl }}/img/clients/santander.png"/></a>
				</div>
				<div class="col-md-3">
					<a href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/R005532/1" target="_blank"><img class="img-responsive img-btn" src="{{ site.baseurl }}/img/clients/eprsc.png"/></a>
				</div>
				<div class="col-md-3">
					<a href="https://www.raeng.org.uk/policy/international-policy-and-development/gcrf-international-development/frontiers-of-engineering-for-development/current-and-recent-awards" target="_blank"><img class="img-responsive img-btn" src="{{ site.baseurl }}/img/YoE-Logo.png"/></a>
				</div>
			</div>
		</div>
  </div>
</aside>
