<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Our Team</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-6 col-sm-4 col-md-4" style="z-index: 3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../img/ulysse.jpg" alt="card image"></p>
                                    <h4 class="card-title">Ulysse Vautier</h4>
                                    <p class="card-text">PhD Student in Autonomous Sailboats</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Ulysse Vautier</h4>
                                    <h6 class="card-title">Qualifications:</h6>
                                    <p class="card-text">TMRes in Signal Processing, Machine Learning, UPMC, France</p>
                                    <p class="card-text">MEng in Intelligent Systems, Robotics, Polytech Paris-UPMC, France</p>
                                    <h6 class="card-title">Background:</h6>
                                    <p class="card-text">R&amp;D Software and Hardware Engineer at BLUE FROG ROBOTICS, Paris, France</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/ulysse.vautier">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/ulysse-vautier-b3544269/en/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-6 col-sm-4 col-md-4" style="z-index: 3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../img/xlarge_jwan.jpg" alt="card image"></p>
                                    <h4 class="card-title">Jian Wan</h4>
                                    <p class="card-text">Lecturer in Control Systems Engineering</p>
                                    <p class="card-text">Member of Autonomous Marine Systems (AMS) Research Group</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Jian Wan</h4>
                                    <h6 class="card-title">Qualifications:</h6>
                                    <p class="card-text">PhD (Summa cum Laude) at Department of Electrical Engineering, Electronics and Automatic Control, University of Girona, Spain</p>
                                    <p class="card-text">MEng at Department of Automatic Control, School of Marine Science and Technology, Northwestern Polytechnical University, China</p>
                                    <p class="card-text">BEng at Department of Materials Forming and Control Engineering, School of Materials Science and Engineering, Northwestern Polytechncial University, China</p>
                                    <h6 class="card-title">Professional membership</h6>
                                    <p class="card-text">Member, IEEE</p>
                                    <p class="card-text">Fellow, The Higher Education Academy</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.plymouth.ac.uk/staff/jian-wan">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-6 col-sm-4 col-md-4" style="z-index: 3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../img/xlarge_Ming_Dai.jpg" alt="card image"></p>
                                    <h4 class="card-title">Ming Dai</h4>
                                    <p class="card-text">BEng/MEng Programme Manager (Mechanical and Marine Engineering)</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Ming Dai</h4>
                                    <h6 class="card-title">Qualifications:</h6>
                                    <p class="card-text">BEng (Hons) in Mechanical Engineering (with speciality in Internal Combustion Engines); Shandong University, China, 1984</p>
                                    <p class="card-text">PhD in Marine Technology; Newcastle University, UK, 1992</p>
                                    <h6 class="card-title">Professional membership</h6>
                                    <p class="card-text">External Examiner, MSc in Renewable Energy Engineering, 2014-2017, Cranfield University</p>
                                    <p class="card-text">External Examiner, MSc in Renewable Energy Technology, 2015-2017, Cranfield University</p>
                                    <p class="card-text">External Examiner, MSc in Energy Supply for Low Carbon Future, 2015-2017, Cranfield University</p>
                                    <p class="card-text">External Examiner, MSc in Marine Engineering, 2012-2017, University of Strathclyde</p>
                                    <p class="card-text">External Examiner, MSc in Technical Ship Management, 2014-2016, University of Strathclyde</p>
                                    <p class="card-text">External Examiner, MSc in Marine Engineering, 2010-2014, Newcastle University</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.plymouth.ac.uk/staff/ming-dai">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-6 col-sm-4 col-md-4" style="z-index: 3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../img/xlarge_Bob_Hone.jpg" alt="card image"></p>
                                    <h4 class="card-title">Robert Hone</h4>
                                    <p class="card-text">Lecturer in Nautical Studies</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Robert Hone</h4>
                                    <h6 class="card-title">Qualifications:</h6>
                                    <p class="card-text">Postgraduate Certificate in Academic Practice 2012</p>
                                    <p class="card-text">BA (Hons) with Art History 2008</p>
                                    <p class="card-text">BA          "Open Degree"   2005</p>
                                    <p class="card-text">Class 1  Master Mariner 1989</p>
                                    <h6 class="card-title">Professional membership</h6>
                                    <p class="card-text">Fellow Nautical Institute   (Hon.Sec South West of England Branch)</p>
                                    <p class="card-text">Fellow Higher Education Academy</p>
                                    <p class="card-text">Member: South West Merchant Navy Welfare Board</p>
                                    <p class="card-text">Member: South West Company of Mariners </p>
                                    <p class="card-text">Member: Human Element Advisory Group</p>
                                    <p class="card-text">Member: Plymouth University Maritime Cyber-Crime Research Group </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.plymouth.ac.uk/staff/robert-hone">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Team member -->
            <div class="col-xs-6 col-sm-4 col-md-4" style="z-index: 3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../img/cviel.jpg" alt="card image"></p>
                                    <h4 class="card-title">Christophe Viel</h4>
                                    <p class="card-text">Post Doctorate at University of Plymouth</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Christophe Viel</h4>
									<h6 class="card-title">Qualifications:</h6>
                                    <p class="card-text">Post Doctorate at University of Plymouth</p>
                                    <p class="card-text">PhD in Robotics; ONERA, Palaiseau, France 2017</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.researchgate.net/profile/Christophe_Viel">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
